# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Dataset folders
datasets/raw/
datasets/processed/

# Model artifacts
models/
embeddings/
vector_store/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Build
build/
dist/
*.egg-info/

# Datasets
datasets/
.env
